<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    forceCoversAnnotation="true"
    mapTestClassNameToCoveredClassName="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    stopOnError="false"
>

    <testsuites>
        <testsuite name="MusicBrainz Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src/</directory>
        </whitelist>
        <blacklist>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <php>
        <ini name="display_errors" value="true"/>
    </php>

</phpunit>
